body{
	margin: 0;
	background-color: lightgrey;
}
* {
	opacity: 2;
	font-style: helvetica;
}

input:invalid {
    border: 2px solid red;
}

input[type="text"]{
padding:100px 0;}

input[type="ZipCode""]{
padding:100px 0;}

input[type="textarea"]{
padding:100px 0;}

input[type="radio"]{
padding:100px 0;}
